*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	width: 100%;
	background-image: url(../images/template/html_bg.jpg)!important;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #edeeee!important;
}
body{
	background: none!important;
	font-family: Exo, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #2d2d2d;
	line-height: 1.4;
}
h1, h2, h3, h4, h5, h6, p{
	margin-bottom:14px;
}
h2{
	font-size: 30px;
	font-weight: 400;
	color: #000000;
	margin-top: 0px;
}
h3{
	font-size: 24px;
	font-weight: 400;
	color: #000000;
	margin-top: 0px;
}
h4{
	font-weight: normal;
	font-size:18px;
}
a{color:#4266b1;}

.clr{clear:both;}
.separator{
	background-image: url(../images/template/separator.png);
	height: 2px;
	width: 100%;
	margin: 0px 0;
}
.productdetails-view .addtocart-bar{
	margin:19px 0 0;
	width:130px;
	position:absolute;
	bottom:0;
	left:310px;
}

.page-block{
	width: 1080px;
	margin: 0 auto;
	padding: 0 5px;
}
.top-banner{
	padding:0 15px;
	position:relative;
}


.logo{
	float:left;
}

.banner{
    padding: 0px;
    margin:20px 0;
}
.banner .moduletable{float:left;}
.main_content, .after_component{ padding-top:15px;}
.item-page table td{vertical-align: top;}

.item-page li{
	/*background: url(../images/template/arrow-left-orange.png) no-repeat center left;*/
	margin-left:0px;
	padding:5px 0 5px 25px;
	font-size:12px;	
}

.home.item-page table ul{
	float:left;
	margin-right: 40px;
}
.main_small{
	float:left;
	position:relative;
	width:825px;
	overflow: hidden;
}

.main_content.mellemside .main{
	background:url(../images/template/visitkort_bg.jpg) no-repeat;
	background-size: cover;
}


.main_content.mellemside .main table{
	width:100%;
	border-collapse: separate;
	border-spacing:20px;
}

.main_content.mellemside .main table td{
	background: rgba(255, 255, 255, 0.9);
	padding:25px; 
}
.main_content.mellemside .main table td h1{
	font-weight: normal;
}

.main_content.mellemside .main table td li{
	background: url(../images/template/tick.png) no-repeat center left;
	padding:10px 35px;
	color:#5d5d5d;
	font-size:20px;
}
.main_content.mellemside .main table td li span{
	font-size:12px;
	color:#5d5d5d;
}

.row.fileupload-buttonbar{float:left;}

/*
Moduler
*/
.referencer{margin-bottom:10px;}
.moduletable h3{
	font-size: 24px;
	font-weight: 400;
	color: black;
	margin-top: 0px;
}
.referencer .banneritem{float:left;margin:6px;}

/*
Footer menu
*/
.footer .moduletable{
	float:left;
	margin:0 30px;
	font-size:12px;
	color:#747474;
}
.footer .moduletablebig{
	
}
.footer .moduletable h3{
	font-size: 18px;
	font-weight: 400;
	color: #747474;
	margin-top: 0px;
}
.footer .moduletable ul li {
	display:block;
	float:none;
	margin:0;
	padding:0;

}
.footer .moduletable ul li a{
	font-size:12px;
	color:#747474;
	margin:0;
	padding:0;
	height:auto;
	line-height: 1.6;
	text-decoration: none;
}

/*
Forside menu
*/
.frontmenu ul{
	/*padding:0 10px;*/
}
.frontmenu li{
	width: 143.57px;
	height:145px;
	float:left;
	padding:5px;
	margin:5px;
	border:7px solid #81C1E0;
	position:relative;
	background:#81C1E0;
}
.frontmenu li:first-child{
  margin-left:0px;
}
.frontmenu li:nth-child(7n+1){
  margin-left:0px;
}

.frontmenu li img{
	max-width:120px;
	position:absolute;
	top:0;
}
.frontmenu li span{
	position:absolute;
	bottom:0;
	background:#2d2d2d;
	color:#ffffff;
	width:120px;
	padding:2px 4px 2px 18px;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.frontmenu li span:before{
	border: none!important;
	width: 10px!important;
	height: 10px!important;
	margin-top: 5px!important;
	border-color: transparent transparent transparent transparent!important;
	margin-right: 0px!important;
	background-image: url(../images/template/arrow-left.png);
	content: "";
	display: block;
	position: absolute;
	margin-left: -14px;
}
.frontmenu li:hover span{
	background:#3c58a7;
}

/*
Sidebar menu
*/
.sidebar {
	float:left;
	background:rgba(256, 256, 256, 0.9);
	padding:30px;
	margin-right:15px;
	width:230px;
}
.sidebar h3{
	border-bottom: 2px solid #d8d8d8;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	margin-top: 0px;
}

.sidebar .menu li{display:block;float:none;}
.sidebar .menu li img{display:none;}
.sidebar .menu li a{color:#5d5d5d; text-decoration:none;}
.sidebar .menu li a:hover{color:#000000;}

/*
Virtuemart
*/
.addtocart-button {
   display: none;
}
.quantity-input {
   width: 100px !important;
}
span.quantity-controls {
	float:right;
	margin:0 10px 0 0;
}
span.quantity-box{width:auto;float:none;}
label.quantity_box{display:block;font-size:12px;padding-bottom:20px;}
/*
Produktside
*/
.productdetails{
	background:rgba(256, 256, 256, 0.92);
	padding:30px;
	width:795px;
}
.productdetails h1{
	font-size: 30px;
	font-weight: 400;
	color: black;
	margin-top: 0px;
}
.beregn h3{
	color:#637eb7;
}
.price-plugin{display:none;}
.product-field-display div{float:left; width:170px; margin-right:10px;padding-top:5px;}
span.quantity-controls input.quantity-plus{display:block;}
.product-field-display label, label.uploadfile{display:block; font-size:12px;}
.product-field-display div select{
	width: 100%;
	height: 30px;
	border: solid 1px #e5e5e5;
	color: #7f7f7f;
	font-style: italic;
	background-color: #fff;
	white-space: nowrap;
	font-size: 12px!important;
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.1);
}
.product-fields{float:left; margin:0;}
.addtocart-bar{float:left; padding:0!important; margin:0;}
.small_addtocart-bar{margin-top:18px!important;min-width:130px;}
input.quantity-input{
	height:30px; 
	border: 1px solid #e5e5e5;
	border-radius: 0px;
	font-style: italic;
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.1);
	color: #7f7f7f;
	background-color: #fff;
	font-size: 12px;
	margin: 0 0 5px 0;
	padding: 6px;
	width: 210px;
}
.neminput{
	height:30px; 
	border: 1px solid #e5e5e5;
	border-radius: 0px;
	font-style: italic;
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.1);
	color: #7f7f7f;
	background-color: #fff;
	font-size: 12px;
	margin: 0 0 12px 0;
	padding: 6px;
	width:170px;
}
.product-field-display label{
	height:35px;
}
span.quantity-controls{padding-top:0px;}
.moms{float:right;}
.addtocart-area{position:relative;min-height:230px;}
.nemprintberegn{
	background:url(../images/template/beregnpris-btn.png);
	height:40px;
	width:210px;
	border:none;
	cursor:pointer;
	text-indent: -9999px;
	float:right;
	position:absolute;
	bottom:0;
	right:0;
}
.nemprintberegn_up{
}

/*
Cart
*/
.show_cart a{
	background:url(../images/template/til-betaling-btn.png) no-repeat;
	width:180px;
	height:35px;
	border:none;
	text-indent: -9999px;
}
.moduletable_cart{
	position:absolute;
	right:110px;
	bottom:1px;
}
.bold{font-weight:bold!important;}

#login-form .userdata .inputbox{
	width:auto;
	height:auto;
}
#login-form #modlgn-username, #login-form #modlgn-passwd{
	width:180px;
}
#com-form-login .floatleft, span.floatleft{
	float:none;
}
.userdata .inputbox{
	height:30px; 
	border: 1px solid #e5e5e5;
	border-radius: 0px;
	font-style: italic;
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.1);
	color: #7f7f7f;
	background-color: #fff;
	font-size: 12px;
	margin: 0 0 12px 0;
	padding: 6px;
	width:170px;
}
table.cart-summary tr th{
	background:url(../images/template/cart_bar.png) repeat-x;
	border:none;
	padding:6px 10px;
	color:#ffffff;
	font-weight:lighter;
}
.cart-summary{width:100%;}

.cart-view table{padding-bottom:10px;width:100%;}
.cart-view table td{padding:5px!important;}
.cart-view h1{margin-top:20px;}
.vmshipment_name, .vmpayment_name{font-weight:bold;}
.vmshipment_description{font-size:11px;}
.cart-view .change{font-size:12px;}
.vmshipment .vmshipment_name{min-width:200px;display:inline-block;font-size:14px;}
.vmshipment .vmshipment_description{font-size:14px;}
.cart-view .com-form-login{display:none;}

.customer-comment{text-align:left;}
.comment{font-size:28px;}
.customer-comment textarea{
	width:100%;
	min-height:150px;
	margin-bottom:20px;
	border-radius:0;
	-webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
}
textarea.virtuemart:hover, textarea.customer-comment:hover{background:#fff;}

.cart-view #com-form-login{
	display:none;
}
.main #com-form-login{display:none;}

.main .pretext{margin-bottom:40px;display: block;}
#userForm fieldset{
	border-top:1px solid #c9c9c9;
	padding:20px 10px;
	background:url(../images/template/fieldset_bg.jpg) repeat-x top;
}
.userfields_info{
	color:#637eb7;
	font-size:24px;
	font-weight: normal;
}

table.user-details{
	width:100%;
}
td.key{width:200px;padding:5px 0!important;}
table.user-details td input[type="text"]{
	width:100%;
}
td.key .agreed{width:250px;display:block;}
table.user-details input.invalid{border-radius: 0;
	border:1px solid #c9c9c9;
}
table.user-details input{
	border-radius:0;
}
button.default{
	display:block;
	float:right;
}
.cart-view div:first-child div:first-child{clear:both;}
.control-buttons.editaddress{position:relative;padding-bottom:20px;}
.control-buttons.editaddress button.default{position:absolute;right:0;}
.cart-summary .summary .priceColor2{color:#333333;}
.checkout-button-top {text-align:left;}
.vm-button-correct, .vm-button-correct:link, .vm-button-correct:visited{
	float:right;
	background:url(../images/template/naeste.jpg) no-repeat;
	width:137px;
	height:37px;
	border:none;
	text-indent:-9999px;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
}
.continue_link{float:left;}
.PricetaxAmount{
	color:#5d5d5d;
}
table.cart-summary input.inputbox{max-width: 200px!important;}
.inputbox, .cart-view .user-details input{
	/*background:url(../images/template/input_bg.jpg) repeat-x top;*/
	border:1px solid #d2d2d2;
	padding:5px;
	min-height: 30px;
}
.cart-view .user-details input[type="text"], .cart-view .user-details input[type="password"]{display:block;clear:both;}
.delimiter_userinfo, label.Kundetype,  #virtuemart_country_id, label.email, label.shipto_virtuemart_country_id, label.radiobtn, label.address_1{display:block!important;float:none;}
label.eanoplysninger{display:block;}
label.Betalingstillid, label.Betalingsfrist {display:none!important;}
label.delimiter_billto, label.delimiter_userinfo{display:block!important;float:none;}
.cart-view .user-details label{margin-top:10px;display:inline-block;}
.billto-shipto input[type="radio"] {
    width: auto !important;
}

.delimiter_userinfo, label.eanoplysninger{font-weight:bold;}
.delimiter_billto{margin-top:20px;}
.checkoutfr > li{width:50%!important; float:left!important;}
input#register{float:none!important;}
div#div_billto{padding-top:15px!important;}
.delimiter_billto{font-weight:bold;}
#table_shipto{margin-top:0px;}
/*#div_shipto{width:47%!important; }*/
.output-billto{margin-top:0;}
.columns-2 li.col2{margin:0;}
.check-title{margin-top:0;}
.cart_containertitle{font-weight: bold;display:inline-block;padding-top:8px;}
.output-shipto{display:none!important;}
#Kundetypeprivat-lbl, #Kundetypeerhverv-lbl{margin-top:-17px;margin-left:25px;}
label.myndighedellerinstitution{clear:both;}

input#register, div.output-billto, div.output-shipto, .vm2-billto-icon, .vm2-shipto-icon{
	float:none;
	display:inherit;
}


#shipment_tr, #payment_tr{
	background:none;
	border-top:1px solid #c9c9c9;
}
#shipment_tr td, #payment_tr td{
	padding:25px 0;
}
#shipment_tr h1, #payment_tr h1{
	color:#2d2d2d;
}
.shipment_table, .payment_table{margin-top:20px;border-bottom:none!important;}
.shipment_table h1, .payment_table h1{margin-top:0;}
.vmshipment_cost{display:none;}
#shipment{vertical-align: bottom;}
#shipments input, #shipments label, #payments input, #payments label{margin-top:15px;}
.customer-comment{/*display:none;*/}
.cart-view .continue_link{display:none;}
.vmpayment_description, .vmshipment_description{font-size:14px;}
.vmpayment_name{width:200px;display:inline-block;}
.cart-summary .summary th .priceColor2{color:#ffffff;}
.product-field-display div:nth-of-type(5){clear:left;}

.cart-view .photo-listing img{max-width:150px;height:auto!important;}



/*
Tabel
*/

select.nemselect ~ div.price-plugin {
	display: none;
}
.product-fields-title {
	display: none;
}
.priser {
	padding-top: 10px;
}

.Headers {
    color: #4F6B72;
    letter-spacing: 2px;
    padding: 6px 6px 6px 12px;
    text-align: center;
    text-transform: uppercase;
    background:none!important;
}
.toptal {
    box-shadow: inset 0px 3px 4px 0px rgba(56, 87, 165, 1)!important;
    background-color:#3857a5!important;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 6px;
    font-weight:normal;
    text-align: center;
    text-transform: uppercase;
    font-size:12px;
}
.righttop {
    color: #ffffff;
    letter-spacing: 2px;
    padding: 6px 6px 6px 12px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: inset 0px 3px 4px 0px rgba(56, 87, 165, 1)!important;
    background-color:#3857a5!important;
}
.papirnavne {
	background:none!important;
    color: #797268;
    padding: 0 0 0 15px;
}
.border1 {
	background:none!important;
    text-align: center;
}
.table_border {
	background:none!important;
    text-align: center;
}
.border3 {
	background:none!important;
    text-align: center;
}
.border4 {
	background:none!important;
    text-align: center;
}
.border3 a, .border4 a{
	color:#333333;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.border3 a:hover, .border4 a:hover{
	color:#3857a5;
}

.select_w {
    font-size: 11px;
}
.hjQrne {
}
.selecttext {
    font-weight: bold;
}
.uden_ramme {
}
.fed {
    font-weight: bold;
}
.uden_ramme table_indmad {
    text-align: right;
}

.priser table tr td{
	padding:8px 10px 8px 10px;
}
.priser table tr:nth-child(even){
	background:rgba(200,200,200,0.4)!important;
}

.product_details_bottom{
	height:56px;
	background:url(../images/template/product_bottom_bar.png);
	width:100%;
    position: relative;
}
.product_details_bottom > span {
    color: #FFFFFF;
    font-weight: 500;
    left: 350px;
    position: absolute;
    top: 19px;
}
.after_component table td{
	width:50%;
}
.after_component table td p{
	margin-bottom:0;
}

/*
Login
*/
.login_container{
	display:none;
	position:absolute;
	width:200px;
	right:15px;
	top:105px;
	background:#ffffff;
	z-index: 9999;
	padding:10px;
	border:1px solid #e0e0e0;
	border-radius: 2px;
}
#click{
	position:absolute;
	right:15px;
	top:72px;
}

.login_container #modlgn-username{
	background:url(../images/template/username.jpg) no-repeat left;
	border:1px solid #e0e0e0;
	border-radius:2px;
	height:30px;
	padding-left:40px;
	width:100%;
	font-size:14px;
}

.login_container #modlgn-passwd{
	background:url(../images/template/password.jpg) no-repeat left;
	border:1px solid #e0e0e0;
	border-radius:2px;
	height:30px;
	padding-left:40px;
	width:100%;
	font-size:14px;
}
.login_container #form-login-password{margin-bottom:5px;}
.login_container #form-login-remember{
	float:left;
	font-size:10px;
}
.login_container .button{
	text-align:center;
	margin:0 auto;
	cursor:pointer;
	border:none;
	background:#cccccc;
	border-radius: 3px;
	border-bottom:2px solid #bcbcbc;
	padding:4px 10px; 
	color:#ffffff;
	font-size:13px;
	display:block;
	margin-top:5px;
}
.login_container li a{
	font-size:10px;
	color:#333333;
	text-decoration:none;
}
td.markedrow{
	background:rgba(110,130,160,0.2)!important;
}
/*.actions{display:none!important;}*/
.moduletable_service{position:fixed; right:0;top:200px;z-index:99999;}

/*
	SlideshowCK 
*/
.camera_wrap{margin-bottom:0!important;}
.camera_pag{margin-top:-50px;}
.camera_wrap .camera_pag .camera_pag_ul li{background:#ffffff;}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span{background:#2264AB;}

.inputbox[name=quantity]{
	min-width:60px;
}

.moduletable_cart .total{
	margin-right:-95px;
	float:none!important;
}
.moduletable_cart .empty{margin-left:40px;}

/*
	Lightbox Cart
*/
#facebox a{
	display:inline-block;
	margin-top:5px;
;
	padding:7px 10px;
	border:1px solid #efefef;
	color:#ffffff;
	text-decoration:none;
	font-weight: normal;
	border-top:1px solid #9eb8e3;

}
#facebox a.continue{
	margin-right:20px;
	background:#f08d09;
	border:1px solid #cd7500;
	border-top:1px solid #f19b26;
}
#facebox a.showcart{
	background: #4274cb; /* Old browsers */
	background: -moz-linear-gradient(top, #4274cb 0%, #285ab1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4274cb), color-stop(100%,#285ab1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4274cb 0%,#285ab1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4274cb 0%,#285ab1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4274cb 0%,#285ab1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4274cb 0%,#285ab1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4274cb', endColorstr='#285ab1',GradientType=0 ); /* IE6-9 */		
}
#facebox .content{
	padding:20px;
}
#facebox div.popup div div h4{margin-top:15px;font-size: 14px;}

#sbox-window{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
#sbox-overlay{opacity: 0.4!important;}
#sbox-window.shadow{
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.klikkob{
	position:absolute;
	margin-left:150px;
}
.moreinfo.fixed{
	position:fixed;
	bottom:-70px;
	right:0px;
	width:101px;
	left:50%;
	margin-left:520px;
}
.moreinfo{
	position:absolute;
	right:-112px;
	bottom:-180px;
}

#adminForm button[type="submit"]{
	background:url(../images/template/registrer.jpg) no-repeat;
	border:none;
	text-indent:-99999px;
	width:139px;
	height:36px;
	cursor:pointer;
}
#adminForm button[type="submit"].Gem{
	background:url(../images/template/gem.jpg) no-repeat;
}

#adminForm button[type="reset"]{
	background:url(../images/template/annuller.jpg) no-repeat;
	border:none;
	text-indent:-99999px;
	width:139px;
	height:36px;
	cursor:pointer;
}




/*
Designeren
*/
.left_menu li{float:none;}
.designer_container{
	float: left;
	position: relative;
	max-width: 765px;
}
.sidebar .menu ul{margin-left:10px;}
.sidebar .menu ul li a:before{content: "- ";}
.prodPage_StartTabs{
	position:relative;
	background:#f8f8f8;
	border:1px solid #e8e8e8;
	padding:10px;
	border-radius:2px;
}
#higherPrices{top:150px!important;}
#lowerPrices{top:50px!important;}
.mod-default{margin-top:20px;clear:both;display:block;}
.mod-default .menu{float:none;}

a.mylink{cursor:default;}
div#ui-tabs-1 {
	min-height: 150px; 
}

/*
	Kundecenter
*/
.kundecenter{text-align:center; margin-bottom:15px;margin-top:10px;}
.login-greeting{text-align:center;}
.kundecenter_link{background:#F08A01; color:#ffffff; text-decoration:none; padding:4px 4px;border:1px solid #CB8213;
}

#fileupload{margin:0px 15px 0;position:relative;display:block;width:270px;margin-top: -62px;}
#nx-order-upload{min-height: auto;}
#nx-order-upload table.table-striped{
	min-height:inherit;
	width:100%;
}
#nx-order-upload td{vertical-align: middle;}
#fileupload .btn.fileinput-button .ui-button-text{
	padding:.1em 1em 0em 2.1em;
}
#fileupload .ui-state-default, #fileupload .ui-widget-content .ui-state-default, #fileupload .ui-widget-header .ui-state-default{
	margin: 5px 5px 5px 0 ;
}
.productdetails .category-view{display:none;}
#nx-order-upload{min-height: 50px;}

/*
	tekstil
*/
.afterfields{max-width:380px;}
.afterfields > div{float:left;margin-right:10px;}
.afterfields > div label{display:block;}
.afterfields button.nmnext,.afterfields2 button.nmnext2{background:url(../images/naeste.jpg) no-repeat; border:none;width:138px; height:37px; text-indent: -999999px;cursor:pointer;}


.Betalingstillid, #Betalingstillid,.Betalingsfrist,#Betalingsfrist_field {
	display: none;
}

.adminlist{width:100%;}
.adminlist td{padding:5px 5px;}
.adminlist tr:nth-child(even){background:#e8e8e8;}
.back-to-category { display: none;}
.terms-of-service {cursor: pointer;}

/*
	#payment
*/
#payment, #shipment,#moms{vertical-align: bottom;}
.after_component .moduletable .table td{vertical-align: top;width:50%;
}

#fileupload .ui-corner-all, #fileupload .ui-corner-bottom, #fileupload .ui-corner-right, #fileupload .ui-corner-br{
	border-radius:0;
}
#fileupload .ui-state-default, #fileupload .ui-widget-content .ui-state-default, #fileupload .ui-widget-header .ui-state-default{
	background: #4274cb ; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4274cb), color-stop(100%,#285ab1)) ; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4274cb 0%,#285ab1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4274cb 0%,#285ab1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4274cb 0%,#285ab1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4274cb 0%,#285ab1 100%) ; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4274cb', endColorstr='#285ab1',GradientType=0 ); /* IE6-9 */
	color:#ffffff;
	border:1px solid #4274cb;
}
.prodPage_StartTabs{height:250px;}
.fileupload-inner .btn-warning, .fileupload-inner .btn-danger, .fileupload-inner input.toggle, table#nx-order-upload-table input[name=delete] { display:  none;}

.home table{min-width:100%;}
iframe{overflow-y:hidden;
overflow-x:hidden;}

#cart-view-default .cart-view-top h1 {
	font-size:30px;
}
#cart-contents > h3.title{display:none;}
.cart-summary th, .cart-summary td{border:none!important;}

#cart-view-default .cart-summary th{color:#ffffff;}
#cart-view-default{font:inherit;}
#cart-view-default .cart-summary th{font-size:14px;}
#cart-view-default .cart-summary .product-name{font-size:14px;color:#333333;}
#cart-view-default .cart-summary .vm-customfield-cart{font-size:12px;}
#cart-view-default .cart-summary .product-sku{font-size:12px;}
#cart-view-default .cart-summary .quanlity-inputbox{height:18px;}
#cart-view-default .cart-summary .shipment-pane input[type="radio"], #cart-view-default .cart-summary .payment-pane input[type="radio"]{vertical-align: bottom;}
.vmshipment .vmshipment_description{font-size:12px;}
#cart-view-default .cart-summary .coupon-pane #coupon_code{height:19px;}
#cart-view-default .cart-summary .coupon-pane .details-button .details-button{vertical-align: bottom;height:19px;}
#cart-view-default input[type="text"], #cart-view-default input[type="password"]{border:1px solid #cccccc; height:25px;background:#e8e8e8 url(/components/com_virtuemart/assets/images/vmgeneral/backgrounds.png) top repeat-x;}
#cart-view-default .cart-summary .base-price span.PricebasePrice{font-size:14px;}
#cart-view-default .cart-summary td{font-size:14px;}
#cart-view-default .cart-summary td.sub-total{font-size:14px;font-weight:normal;}
#cart-view-default .cart-summary .price-result-1 #sales_price{font-size:14px;font-weight:normal;}
#cart-view-default .cart-summary .shipment-pane #shipment{font-size:14px;font-weight:normal;}
#cart-view-default .cart-summary #bill_total{color:#333333;}
div#div_billto{padding-top:0;}
#cart-view-default .round-box h3.title{background:none;color:#333333;font:inherit;font-weight:bold;padding-bottom:10px;font-size:14px;}
#cart-view-default .round-box span.icon{display:none;}
#cart-view-default .round-box{border:none;}
#cart-view-default .billto-shipto .pane-inner{padding:0;}
#div_billto table td.key, #div-shipto table td.key{padding-left:0!important;}
#cart-view-default .billto-shipto label{letter-spacing: 0;padding-top:10px;}
#cart-view-default .cart-view-top{border-bottom:0;padding-bottom:30px;}
.cart-view h1{padding-bottom:0;margin-top:10px;}
#cart-view-default .billto-shipto{margin-top:20px;}
#cart-view-default .vm-button-correct{border-radius: 0;}
.virtuemart_country_id{padding:0;}

.trustpilot.moduletable{float:right;margin-bottom:10px;margin-right:35px;}
.review.moduletable{margin-bottom:15px; margin-left:45px;}
.browse-view{background:#ffffff;padding:15px;}
.browse-view .row .product .spacer img{max-width: none;}

.addtocart-area.small{min-height: 100px;}
.footer{padding-top:10px;}
.sot-cs-title{display:none;}
.sot-cs-prev, .sot-cs-next{display:none!important;}
.avatar-copyright, .bottom-bar, .nivo-caption, .nivo-directionNav{display:none!important;}
.nivo-controlNav{bottom:0!important;}
.registercart { display: none;}
div#table_user label.name, div#table_user input#name_field, label.delimiter_billto, div.output-billto{display:  none !important;}

/*Upload en fil*/
td.sfu_table input[type="button"]{
	background: #4274cb;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4274cb), color-stop(100%,#285ab1));
	background: -webkit-linear-gradient(top, #4274cb 0%,#285ab1 100%);
	background: -o-linear-gradient(top, #4274cb 0%,#285ab1 100%);
	background: -ms-linear-gradient(top, #4274cb 0%,#285ab1 100%);
	background: linear-gradient(to bottom, #4274cb 0%,#285ab1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4274cb', endColorstr='#285ab1',GradientType=0 );
	color: #ffffff;
	border: 1px solid #4274cb;
	font-family: 'Exo', sans-serif;
	font-size:14px;
	padding:6px 8px;
}
td.sfu_table input[type="file"]{
	height: 30px;
	border: 1px solid #e5e5e5;
	border-radius: 0px;
	font-style: italic;
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.1);
	color: #7f7f7f;
	background-color: #fff;
	font-size: 12px;
	padding: 6px;
	margin:10px 0;
	opacity: 1!important;
	width:250px!important;
}
@-moz-document url-prefix() {
	td.sfu_table input[type="file"]{
		border:none;
		padding:0;
	}
}

.moduletable.julelukket{width:100%;font-size:16px;}
.moduletable.julelukket p{padding:5px 0;
	background: -webkit-gradient(linear, left top, right top, from(#be3a3a), to(#982f2f));
	background: -webkit-linear-gradient(top, #be3a3a, #982f2f);
	background: -moz-linear-gradient(top, #be3a3a, #982f2f);
	background: -o-linear-gradient(top, #be3a3a, #982f2f);
	background: -ms-linear-gradient(top, #be3a3a, #982f2f);
	background: linear-gradient(top, #be3a3a, #982f2f);
	background-color: #be3a3a;
	color:#ffffff;
}

.ui-widget.ui-dialog{left:50%!important;margin-left:-300px;position:fixed;}

td.sfu_table img, td.sfu_table #fakefileinput186{display:none;}
td.sfu_table span{position:static!important;}
td.sfu_table div{height:auto!important;}
.sfu_content{margin:0!important;border:none;width:auto!important;}
#fancybox-content .sfu_content .sfu_table{font-size:14px!important;}
label.address_2, input#address_2_field, input#shipto_address_2_field, label.shipto_address_2 { display: none !important; }
.vmpayment_cost,#div_shipto {
display: none;
}
.vmpayment_description img{width:30px;}
#shipments .gls_disabled{background:#ccc;}

label[for^="GLS"], input[id^="GLS"] { display: none !important; }
#checkoutForm .billto-shipto {
	position: relative;
}
#checkoutForm .billto-shipto .toploginbutton {
  background-color: #ef8900;
  color: #fff;
  font-weight: bold;
  height: 50px;
  width: 400px;
}

/* Envelop Menu CSS */
.eclear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.eclear {
    display: inline-block;
}
html[xmlns] .eclear {
    display: block;
}
* html .eclear {
    height: 1%;
}

#header {
    height: 80px;
    position: relative;
    width: 100%;
    z-index: 4;
    background: #FFFFFF;
}
#header .bannerTop {
    position: absolute;
    right: 25px;
    top: 53px;
}
#header .bannerTopShipping {
    position: absolute;
    right: 21px;
    top: 49px;
}
a#logo {
    display: inline-block;
}
a#logo img{
    height: 80px;
}
#inspire {
    position: absolute;
    right: 22px;
    top: 52px;
}
#utilities {
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 1;
}
#tagline {
    font-size: 1.2em;
    left: 55px;
    position: relative;
    top: 52px;
    width: 650px;
}
#envelopes_banner {
    float: left;
    height: 53px;
    margin: 28px 0 0 40px;
    width: 487px;
}
#miniCart {
    background: url("../img/rc/cartInfo/right.gif") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    float: right;
    padding: 0 11px 0 0;
    position: relative;
}
#miniCart.active {
    background: url("../img/rc/cartInfo/right.active.gif") no-repeat scroll right bottom rgba(0, 0, 0, 0);
}
#miniCart .cartInfo {
    background: url("../img/rc/cartInfo/bg.gif") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    padding: 9px 7px 15px 15px;
}
#miniCart.active .cartInfo {
    background: url("../img/rc/cartInfo/bg.active.gif") no-repeat scroll left bottom rgba(0, 0, 0, 0);
}
#miniCart .general img {
    display: inline;
    vertical-align: top;
}
#miniCart .general a:link, #miniCart .general a:visited {
    color: #004275;
    font-weight: bold;
    text-decoration: none;
}
#miniCart .general a:hover, #miniCart .general a:active {
    color: #ff4200;
    text-decoration: underline;
}
#miniCart a.cartIcon {
    background: url("../img/icon/cart.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0 0 5px 25px;
}
#miniCart img.divider {
    margin: 2px 2px 0;
}
#miniCart span.divider {
    color: #666;
    margin: 0 2px;
}
#miniCart span.checkout {
    color: #666;
    margin: 0;
}
#miniCart span {
    color: #0069f5;
    margin: 0 0 0 4px;
}
#justAdded {
    display: none;
    padding: 10px 0;
    width: 200px;
}
#justAdded .header {
    background: url("../img/rc/cartInfo/header.left.gif") no-repeat scroll left top #ebebeb;
    height: 29px;
    margin: 0 0 15px;
    padding: 0 0 0 14px;
    position: relative;
}
#justAdded .header h1 {
    float: left;
    font-size: 1.2em;
    line-height: 29px;
}
#justAdded .header img {
    float: right;
}
#justAdded .header a.close {
    background: url("../img/btn/checkout.close.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 19px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-indent: -999px;
    top: 5px;
    width: 19px;
}
#justAdded .item {
    line-height: 17px;
    margin: 0 0 10px;
}
#justAdded .item img {
    margin: 0 0 10px;
}
#justAdded .item a.item {
    color: #0657ad;
    font-size: 1.1em;
    font-weight: bold;
}
#justAdded .item .price {
    color: #f60;
    font-size: 1.1em;
    font-weight: bold;
}
#justAdded .item p {
    font-size: 1em;
    line-height: 16px;
    margin: 0;
}
#justAdded .item p a {
    color: #666;
}
#justAdded table {
    border-collapse: collapse;
    font-size: 1.1em;
    margin: 0 0 10px;
    width: 100%;
}
#justAdded table {
    border-top: 1px solid #d7d7d7;
}
#justAdded table td {
    height: 22px;
    vertical-align: bottom;
}
#justAdded table td span {
    color: #f60;
}
#justAdded .btns {
    border-top: 1px solid #d7d7d7;
    padding: 15px 0 0;
    width: 100%;
}
#justAdded .editCart {
    float: left;
}
#justAdded .checkOut {
    float: right;
}
#justAdded.active {
    display: block;
}
ul#utilNav {
    color: #004275;
    float: right;
    font-size: 0.8em;
    list-style: outside none none;
    margin: 10px 0 0;
    padding: 0 10px 0 0;
}
ul#utilNav li {
    border-right: 1px solid #d7d7d7;
    float: left;
    height: 17px;
    padding: 0 9px;
}
ul#utilNav li.last {
    border: medium none;
}
ul#utilNav li a {
    color: #004275;
}
ul#utilNav li a:hover {
    color: #f67a00;
}
ul#utilNav span {
    color: #2f6bbb;
}
form#search {
    padding: 5px 0 7px 16px;
}
form#search fieldset {
    float: left;
}
form#search input.search {
    margin: 0 5px 0 0;
    width: 118px;
}
form#search #searchBtn {
    background: url("../img/btn/search.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 20px;
    margin: 1px 0 0 5px;
    text-indent: -9999px;
    width: 59px;
}
form#search #searchBtn:hover {
    background-position: 0 -30px;
}
/*WOOCOMMERCE custom css */
.item-page{
    background: #FDFDFD;
    padding: 0px 10px;
}
.item-page .entry-header .entry-title{
    padding-top: 10px;
}
.item-price{
	display:none;
}
.cart{
	display: inline-block;
	position: relative;
	float:left;
	width:100%;
}
.cart .product-addon h3{
    font-size: 15px;
    margin-bottom: 5px;
}
.cart .product-addon .form-row{
    padding: 0px;
}
.cart .product-addon .product-addon-description{
    font-style: italic;
    margin-bottom: 5px;
    font-size: 12px;
}
.cart .product-addon .form-row select, .cart .product-addon .form-row input[type="text"]{
    padding:0px;
    line-height: 23px;
}
.product-addons-field{
    /*width: 90%;*/
}
.product-addons-field-last{
    display: none !important;
}
.product-addons-field-width{
    width: 40%;
    padding:0px;
    line-height: 23px;
}
.product-addons-field-height{
    width: 40%;
    padding:0px;
    line-height: 23px;    
    width: 40%;
}
.cart .product-addon .product-addons-field-addition-info{
    font-style: italic;
    font-size: 80%;
}
.cart .product-addon .product-addons-field-addition-info p{
    margin-bottom: 0px;
}
.vinaprint_table_price {
    clear:left;
    margin-bottom: 5px;
    padding:0px;
    width:100%;
    border:1px solid #CACACA;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.vinaprint_table_price table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}
.vinaprint_table_price table tr th{
    text-align: center;
    font-weight: bold;
}
.vinaprint_table_price table tr th:first-child{
    text-align: left;
    padding-left: 7px;
}
.vinaprint_table_price tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.vinaprint_table_price table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.vinaprint_table_price table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.vinaprint_table_price tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.vinaprint_table_price tr:hover td{
	
}
.vinaprint_table_price tr:nth-child(odd){ background-color:#aad4ff; }
.vinaprint_table_price tr:nth-child(even)    { background-color:#ffffff; }.vinaprint_table_price td{
    vertical-align:middle;
    border:1px solid #CACACA;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-weight:normal;
    color:#000000;
}.vinaprint_table_price tr:last-child td{
    border-width:0px 1px 0px 0px;
}.vinaprint_table_price tr td:last-child{
    border-width:0px 0px 1px 0px;
}.vinaprint_table_price tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.vinaprint_table_price tr:first-child td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
    background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

    background-color:#005fbf;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-weight:bold;
    color:#ffffff;
}
.vinaprint_table_price tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
    background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

    background-color:#005fbf;
}
.vinaprint_table_price tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.vinaprint_table_price tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
.table-cell-price{
    cursor: pointer;
}
.table-cell-price:hover{
    background: #FFF9C0;
}
.table-cell-price-select{
    background: #88AF77;
}
.add-to-cart-wrapper{
    text-align: right;
    display: inline-block;
    width:100%;
    margin-bottom: 20px;
}
/* Loading CSS */
.loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #000000;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* End Loading CSS */

/* Upsell product */
.woocommerce .products ul li, .woocommerce ul.products li, .woocommerce-page .products ul li, .woocommerce-page ul.products li{
	display: inline-block;
}
.woocommerce .products ul li:first-child, .woocommerce ul.products li:first-child, .woocommerce-page .products ul li:first-child, .woocommerce-page ul.products li:first-child{
	padding-left: 0px;
}
/* CSS product list */
.products{
	/*padding:0 10px;*/
}
.products li{
	width: 143.57px;
	height:145px;
	float:left;
	padding:5px;
	margin:5px;
	border:7px solid #81C1E0;
	position:relative;
	background:#81C1E0;
}
.products li:first-child{
  margin-left:0px;
}
.products li:nth-child(7n+1){
  margin-left:0px;
}

.products li img{
	max-width:120px;
	position:absolute;
	top:0;
}
.products li span{
	position:absolute;
	bottom:0;
	background:#2d2d2d;
	color:#ffffff;
	width:120px;
	padding:2px 4px 2px 18px;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.products li span:before{
	border: none!important;
	width: 10px!important;
	height: 10px!important;
	margin-top: 5px!important;
	border-color: transparent transparent transparent transparent!important;
	margin-right: 0px!important;
	background-image: url(../images/template/arrow-left.png);
	content: "";
	display: block;
	position: absolute;
	margin-left: -14px;
}
.products li:hover span{
	background:#3c58a7;
}
.woocommerce-result-count{
    text-align: right;
}
.woocommerce-ordering{
    text-align: right;
}

.product-addons-field-last{
    display:none;
}
.shop_table thead tr th{
    background: #3170A7;
    color: #ffffff;
    width:100% !important;
}
.shop_table tbody tr .product-remove, .shop_table thead tr .product-remove{
    width: 100px !important;
}
.shop_table tbody tr .product-thumbnail, .shop_table thead tr .product-thumbnail{
    width: 100px !important;
}
.shop_table tbody tr .product-price, .shop_table thead tr .product-price{
    width: 120px !important;
}
.shop_table thead tr .product-price .variation{
    margin: 0px !important;
}
.shop_table tbody tr .actions .cart-action-buttons{
    margin-top: 5px;
    text-align: right;
}
.cart-collaterals .cart_totals table{
    border: 1px solid #E3E3E3;
    border-radius: 5px;
}
.cart-collaterals .cart_totals h2{
    background: #3170A7;
    color: #ffffff;
    padding-left: 5px;
    margin-bottom: 10px;
}
.woocommerce .woocommerce-message:before, .woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-message:before, .woocommerce-page .woocommerce-error:before, .woocommerce-page .woocommerce-info:before{
        height: 3em !important;
}

/* billing and shipping page */
#customer_details{
    width: 100%;
    display: inline-block;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    padding: 10px;
}
#customer_details .col-1{
    width: 48%;
    position: relative;  
    float:left;
}
#customer_details .col-1 .woocommerce-billing-fields h3{
    margin-top:0px;
    background: #3271A8;
    color: #ffffff;
    border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    padding-left: 5px;    
}
#customer_details .col-2{
    width: 48%;
    position: relative;
    float:right;
 
}
#ship-to-different-address{
    margin-top:0px;
    background: #3271A8;
    color: #ffffff;
    border-radius: 3px;
    width: 100%;
    padding-left: 5px;
}

#payment{
    border: 1px solid #E3E3E3;
}
/* checkout page */
.woocommerce .order_details{
    background: #3271A8;
    color: #ffffff;
}

/******************************************/
form.cart .cart-list-field li.last_attribute_field{
	display: none;
}
form.cart .cart-list-field{
	list-style: none;
}
form.cart .cart-list-field li{
	width: 33%;
	display: inline-block;
	position: relative;
	padding:0px;
	margin-bottom: 10px;
}
form.cart .cart-list-field li .field-title{
	width: 100%;
	display: inline-block;
	font-weight: bold;
}
form.cart .cart-list-field li .field-title-qty{
	float:left;
	font-weight: bold;
	margin-right: 5px;
}
form.cart .cart-list-field li select,form.cart .cart-list-field li input[type="text"], form.cart .cart-list-field li textarea{
	width: 90%;	
}
form.cart .cart-list-field li select,form.cart .cart-list-field li input[type="text"]{
	line-height: 26px;
}